@import "scss/utils";

.main_wrapper {
  width: calc(100% - 30px);
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  row-gap: 15px;
  column-gap: 20px;
  @include phoneOrTablet {
    flex-direction: column;
  }
  & > div {
    width: calc(50% - 20px);
    &:nth-child(2n) {
      width: 50%;
    }
    @include phoneOrTablet {
      width: 100%;
    }
  }
}